#kep{width: 8cm;
    height: 8cm;

}
.p{width: 15cm;
    height: 8cm;

}
.zöld{background-color: aquamarine;
    color: darkorange;
      

}
body{text-align: center;
    

}
#cim{color: red;

}
#iskola{color:darkorange;
        background-color: aquamarine;


}

#lat{color: darkorange;
    background-color: aquamarine;


}
#mizu{color: darkorange;
    background-color: deepskyblue;


}